@{
    ViewBag.Title = "Classes";
}
<style>
    .ageGuide {
        font-style: italic;
    }
</style>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Our Classes</h4></div>
    <div class="panel-body">
        <p>
            Below are descriptions of each one of our offered classes. Keep in mind that the age requirement is a <i>recommendation </i> only and should just be used as a guideline for choosing the most
            appropriate class for your child. To view pricing information and learn more about Family Discounts, see our @Html.ActionLink("Pricing", "Pricing", "Home") page. 

        </p>
        <p>
            <b>NOTE:</b> In order to provide the best experience for your child, we ask that you take care to respect our studio rules. Please read our @Html.ActionLink("Studio Policies", "Policies", "Home") page before you decide to enrol
            your child in Miss Nat's Dance School. A ONE WARNING system is now in place - with dancers asked to leave after the second warning.

    
            
        </p>
    </div>
    <div style="padding:15px">
        <div class="row">
            <div class="col-md-12">
                <table class="table-responsive">
                    <tr>
                        <td>
                            <h4><a id="tots">Toddlers and Tiny Tots A, B, C (Creative Dance Classes)</a></h4>
                            <ul class="ageGuide">
                                <li>Toddlers: 2-3 years.</li>
                                <li>Tiny Tots A: 3-4 years.</li>
                                <li>Tiny Tots B: 4-5 years.</li>
                                <li>Tiny Tots C: 5-6 years.</li>


                            </ul>
                          
                            <p>
                                For class times, see our @Html.ActionLink("Timetable", "Timetable", "Home") page.
                            </p>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <p>
                                <img src="/images/tinytots.jpg" style="padding:10px" class="img-rounded img-float-right img-responsive" />
                                The Creative Dance Classes syllabus has been designed my Miss Nat to include a wide variety of dance genres in a way that suits each age/level. This will
                                ensure that every young dancer has the opportunity to achieve confidence and security when they move through the different levels of the syllabus.

                                Teddy Bears are introduced in Toddler Dance classes, which allows the little dancers to focus on the Teddies
                                and teach them how to dance. This really works well for the shy dancers!   The Teddies are slowly eased out of Tiny Tots classes so that by Tiny Tots C the Teddies are no longer needed.

                                Both Toddlers and Tiny Tots are introduced to a variety of fundamental dance skills such as
                                body mechanics, spatial awareness, musicality, left and right brain co-ordination,
                                sharing and lining up.

                                Basic introductory ballet and jazz are included as well as a variety of mixed themes such as "tiny" Yoga, Pilates with ribbons and
                                crossing the midsection by painting the studio etc.
                            </p>
                          
                        </td>
                    </tr>
                </table>
            </div>
            <hr/>
            <div class="col-md-12">
                <table class="table-responsive">
                    <tr>
                        <td>
                            <h4><a id="jazz">Jazz/Hip Hop</a></h4>
                            <ul class="ageGuide">
                                <li>Level 1: 6 -8 years.</li>
                                <li>Level 2: 9-12 years.</li>
                                <li>Level 3: 12 years and up.</li>


                            </ul>

                            <p>
                                For class times, see our @Html.ActionLink("Timetable", "Timetable", "Home") page.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <img src="/images/jazz.jpg" style="padding:10px" class="img-rounded img-float-right img-responsive" />


                                Jazz/Hip Hop classes are fun and funky, not too technical and a great team building experience.
                                Dancers are taught isolations and basic Jazz movements, with steps introduced from the corner leading into a routine.
                                Dancers are free to express their own interpretation of steps, focusing more on the feel and joy that dance can bring.
                                Fantastic for coordination and musicality, Jazz Hip/Hop is designed for anybody and everybody to enjoy.
                                Funky, modern music - with improvisation to end most classes - makes a happy dancer!
                            </p>
                           
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="col-md-12">
                <table class="table-responsive">
                    <tr>
                        <td>
                            <h4><a id="ballet">Classical Ballet</a></h4><ul class="ageGuide">
                                <li>Level 1: 5 years and up.</li>
                                <li>Level 2: Level 1 completion requirement.</li>
                                <li>Level 3: Level 2 completion requirement</li>
                                <li>Pointe: Recommendation by Miss Nat required.</li>


                            </ul>
                            <p>
                                For class times, see our @Html.ActionLink("Timetable", "Timetable", "Home") page.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <img src="/images/ballet.jpg" style="padding:10px" class="img-rounded img-float-left img-responsive" />
                                Level 1 offers the basics of ballet, with Level 2 improving on the skills learnt from level 1, and so on for Level 3.
                                Pointe work is offered to those dancers with years of training and strength behind them.
                                Ballet is wonderful for posture and technique, builds strength and confidence and is a great basis for any style of dance.
                                While Miss Nat does not have a uniform police, the dancers take it upon themselves to present as ballet dancers, with neat hair and appropriate dance clothing and shoes.
                            </p>
                           
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="col-md-12">
                <table class="table-responsive">
                    <tr>
                        <td>
                            <h4><a id="tap">Tap</a></h4>
                            <ul class="ageGuide">
                                <li>All levels:  5 years and up.</li>
                            </ul>
                            <p>
                                For class times, see our @Html.ActionLink("Timetable", "Timetable", "Home") page.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <img src="/images/tap.jpg" style="padding:10px" class="img-rounded img-float-left img-responsive" />
                                Level 1 Tap classes are for beginners regardless of age, as tap is something that must be taught form the beginning as it can be quite technical.
                                Each level is designed to improve on the previous one, with the dancers learning more difficult and challenging movements as they progress through.
                                Tap is great for the brain - mathematically speaking! Tap dancers learn their beats and musicality as well as coordination, while learning to make the most wonderful noise through their Tap shoes!
                                Tap shoes are provided at the studio ( just bring socks ), however they are not to be taken home at any point as they are the property of Miss Nat's Dance Studio.

                            </p>
                           
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="col-md-12">
                <table class="table-responsive">
                    <tr>
                        <td>
                            <h4><a id="boyz">Boyz Crew</a></h4>
                            <ul class="ageGuide">
                                <li>All levels:  5 years and up.</li>
                            </ul>
                            <p>
                                For class times, see our @Html.ActionLink("Timetable", "Timetable", "Home") page.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <img src="/images/boyzcrew2.jpg" style="padding:10px" class="img-rounded img-float-right img-responsive" />
                               
                                Boyz Crew is for boys only - a great team building experience!
                                As the name suggests- only Boys are in this dance class- a hip hop style dance class.
                                Strength and co- ordination exercises always start the class, with stretching and learning the beginnings of tricks.
                                The Boys class energy is high voltage- so they need to keep moving for the whole hour!
                                The Boys learn a routine and always finish their class with a "battle" ( showing off their best improvisation to each other ).
                            </p>
                            <p>
                               
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="col-md-12">
                <table class="table-responsive">
                    <tr><td><h4><a id="zumba">Adult Dance Classes</a></h4></td></tr>
                    <tr>
                        <td>
                            <p>
                             
                            </p>
                            <p>
                                For class times, see our @Html.ActionLink("Timetable", "Timetable", "Home") page.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="col-md-12">
                <table class="table-responsive">
                    <tr><td><h4><a id="zumba">Zumba</a></h4></td></tr>
                    <tr>
                        <td>
                            <p>
                                <img src="/images/zumba.png" class="img-rounded img-float-left img-responsive" />
                                Zumba is run independently by Nioka Branch.
                                Please contact Nioka directly for more information: <br/>
                                p: 0410486873<br/>
                                e: <a href="mailto:zumbawithnioka@gmail.com">zumbawithnioka@gmail.com</a>
                            </p>
                            <p>
                                For class times, see our @Html.ActionLink("Timetable", "Timetable", "Home") page.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>