@using WebSite.HtmlExtensions
@{
    ViewBag.Title = "Home Page";
}



<!-- Carousel
    ================================================== -->
<div class="c-wrapper">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img class="img-responsive slider-size" src="~/Images/splash.jpg" />
                <div class="carousel-caption">

                </div>

            </div>

            <div class="item ">
                @Html.ActionImage("Shopping", "Index", "~/images/splash-jackets.png", "img-responsive slider-size", "Shopping", "")
    
                <div class="carousel-caption">

                </div>

            </div>

            <div class="item ">
                @Html.ActionImage("Home", "Workshops", "~/images/splash-workshops.png", "img-responsive slider-size", "Home", "")
                <div class="carousel-caption">

                </div>

            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    </div>

    <!--
        <div class="jumbotron">
            <img src="\images\splash.jpg" class="hidden-xs img-responsive" />
            <img src="\images\splash-sm.jpg" class="visible-xs img-responsive" />

        </div>
        -->
    <br />

    <div id="widgets" class="row">

        <div class="col-sm-6 col-xs-12">
            @Html.ActionImage("Home", "Classes", "~/images/boyzonly.png", "img-responsive img-left", "Boyz Crew", "boyz")
        </div>

        <div class="col-sm-6 col-xs-12">
            @Html.ActionImage("Home", "Pricing", "~/images/family.jpg", "img-responsive img-right", "Free Trial and Family Discounts", "")
        </div>
        <div class="col-sm-6 col-xs-12">
            @Html.ActionImage("Home", "Classes", "~/images/zumba.jpg", "img-responsive img-left", "Zumba Classes", "zumba")
        </div>
        <div class="col-sm-6 col-xs-12">
            @Html.ActionImage("Home", "Classes", "~/images/kidsclasses.png", "img-responsive img-right ", "Kid Classes", "tots")
        </div>
        <br style="clear:both" />
    </div>



